---
import Layout from "../layouts/Layout.astro";
import { CarouselHeader } from "../components/CarouselHeader.jsx";
---

<Layout title="Welcome to Astro.">
  <main>
    <CarouselHeader client:visible />
  </main>
</Layout>
