---

---

<nav
  class="flex flex-row flex-wrap justify-between items-center py-8 px-14 w-full shadow bg-white"
>
  <a href="/">
    <img class="h-12" src="/LogoCyan.png" alt="Logo Kineclin" />
  </a>

  <nav
    class="flex flex-row flex-wrap gap-x-10 font-medium justify-between items-center"
  >
    <a class="hover:text-[#009EDB]" href="/">Centro de salud</a>
    <a
      class="hover:text-[#009EDB]"
      href="https://www.kineclin.cl/domiciliario"
      rel="noreferrer nofollow">Cuidado en el hogar</a
    >
    <a
      class="hover:text-[#009EDB]"
      href="https://www.kineclin.cl/estetica"
      rel="noreferrer nofollow">Centro de estetica</a
    >
    <a
      class="text-white bg-[#009EDB] hover:bg-gray-700 font-medium rounded-md text-sm px-4 py-2 text-center"
      href="https://99cc847c17b2db7b36831a8547ec3db203e2aff1.agenda.softwaremedilink.com/agenda?modalidad=1"
      rel="noreferrer nofollow"
    >
      Agenda tu hora
    </a>
  </nav>
</nav>
